@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MontserratExtraBold;
  src: url(/assets/fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: MontserratLight;
  src: url(/assets/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: MontserratMedium;
  src: url(/assets/fonts/Montserrat-Medium.ttf);
}

.montserrat-bold {
  font-family: MontserratExtraBold;
}
.montserrat-light {
  font-family: MontserratLight;
}

* {
  font-family: MontserratMedium;
}

.container-padding{
  @apply  px-4 md:px-10 xl:px-24 2xl:px-80 3xl:px-96
}