@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MontserratExtraBold;
  src: url(/assets/fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: MontserratLight;
  src: url(/assets/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: MontserratMedium;
  src: url(/assets/fonts/Montserrat-Medium.ttf);
}

.montserrat-bold {
  font-family: MontserratExtraBold;
}
.montserrat-light {
  font-family: MontserratLight;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MontserratMedium;
}